// Common
$header-height: 3rem;
$font-semi: 600;
$radius: 0.5rem;
$section-height: 100vh;

// Colors
$primary-color: #4070F4;
$second-color: #0E2431;
$white-color: #dfd8c8;
$blur-color: rgba(255, 255, 255, 0.9);

// Fonts
$big-font-size: 3rem;
$h2-font-size: 1.75rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$underline-height: 0.18rem; 
$icon-font-size: 2rem;

// Margins
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 2.5rem;
$m-6: 3rem;

/* z index */
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;