<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>

    <body>
        <!-- HEADER -->
        <header class="header" id="header">
            <nav class="container nav">
                <div>
                    <a href="#home" class="nav__logo">Do Duc Duy</a>
                </div>

                <div class="nav__menu" id="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#home" class="nav__link active">Home</a>
                        </li>
                        <li class="nav__item">
                            <a href="#information" class="nav__link">Information</a>
                        </li>
                        <li class="nav__item">
                            <a href="#about" class="nav__link">About</a>
                        </li>
                        <li class="nav__item">
                            <a href="#work" class="nav__link">Work</a>
                        </li>
                        <li class="nav__item">
                            <a href="#skills" class="nav__link">Skills</a>
                        </li>
                        <li class="nav__item">
                            <a href="#work" class="nav__link">Projects</a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact" class="nav__link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav__toggle">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </header>
          
        <main>
            <section class="container home" id="home">
                <div>
                    <h1 class="home__title">
                        Hello <br>
                        I am <span class="home__name">Do Duc Duy</span> <br>
                        <i>Web Developer</i> 
                    </h1>
                </div>
                <div>
                    <a href="#" class="button home__button">Download CV</a>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        <footer class="footer" id="footer"></footer>
    </body>
</html>