<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="../images/favicon.ico">
    <title></title>
</head>

<body>
    <!-- HEADER -->
    <header class="header" id="header">
        <nav class="container nav">
            <div>
                <a href="#home" class="nav__logo">Do Duc Duy</a>
            </div>

            <div class="nav__menu" id="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">About</a>
                    </li>
                    <li class="nav__item">
                        <a href="#work" class="nav__link">Work</a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">Skills</a>
                    </li>
                    <li class="nav__item">
                        <a href="#projects" class="nav__link">Projects</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav__toggle">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

    <main>
        <!-- HOME -->
        <section class="container home" id="home">
            <div class="home__content">
                <h1 class="home__title">
                    Hello <br>
                    I am <span class="home__name">Do Duc Duy</span> <br>
                    <i>Web Developer</i>
                </h1>
            </div>
            <ul class="home__social">
                <li>
                    <a href="https://www.linkedin.com/in/docducduy-vietnam/" class="home__social-icon">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/duydd25031999" class="home__social-icon">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
            <div>
                <a href="#" class="button home__button">Download CV</a>
                <a href="#contact" class="button home__button">Contact me</a>
            </div>
        </section>

        <!-- ABOUT -->
        <section class="section about" id="about">
            <h1 class="section__title">
                ABOUT
            </h1>
            <div class="container about__container">
                <div class="about__img">
                    <img src="../images/about.jpg" alt="">
                </div>
                <div class="about__info">
                    <h2 class="subtitle about__name">Do Duc Duy</h2>
                    <ul class="about__list">
                        <li class="about__item">
                            <span class="about__icon">
                                <i class="fas fa-birthday-cake"></i>
                            </span>
                            <span class="about__value">
                                March 25th, 1999
                            </span>
                        </li>
                        <li class="about__item">
                            <span class="about__icon">
                                <i class="fas fa-mars"></i>
                            </span>
                            <span class="about__value">
                                Male
                            </span>
                        </li>
                        <li class="about__item">
                            <span class="about__icon">
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                            <span class="about__value">
                                0947948155
                            </span>
                        </li>
                        <li class="about__item">
                            <span class="about__icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="about__value">
                                doducduy.vietnam@gmail.com
                            </span>
                        </li>
                        <li class="about__item">
                            <span class="about__icon">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="about__value">
                                Km29 Thang Long Avenue, Thach That, Hanoi
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="">
                    <h2 class="subtitle about__subtitle">
                        Objective
                    </h2>
                    <p class="about__text">
                        I always desire to work in a dynamic and professional environment so that I can learn and
                        develop myself. I utilize my skills, software development experience and technology savvy to
                        become a senior developer and bring a lot of value to the company.
                    </p>
                </div>

                <div class="about__education">
                    <h2 class="subtitle about__subtitle">
                        Education
                    </h2>
                    <div class="about__content">
                        <div class="about__timeline">
                            September 2017 - Now
                        </div>
                        <div class="about__school">
                            <img src="../images/university.png" alt="">
                            <p class="about__major">
                                <i>Major : Software Engineering</i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="about__education">
                    <h2 class="subtitle about__subtitle">
                        Honors & Awards
                    </h2>
                    <div class="about__content">
                        <div class="about__timeline">
                            September 2017
                        </div>
                        <div class="about__school">
                            Received a scholarship of 70% of tuition fee in the entrance exam of FPT University
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- WORK -->
        <section class="section work" id="work">
            <h1 class="section__title">
                WORK
            </h1>
            <div class="container work__container">
                <ul class="work__collection">
                    <li class="work__item">
                        <div class="work__time">
                            <i>
                                December 2019 - May 2020
                            </i>
                        </div>
                        <div class="work__card">
                            <div class="work__img">
                                <img src="../images/impl.png" alt="">
                            </div>
                            <div class="work__job">
                                <h3 class="work__subtitle">
                                    Full-time web developer
                                </h3>
                            </div>
                            <div class="work__job">
                                <h3 class="work__subtitle">
                                    Main responsibilities :
                                </h3>
                                <ul class="work__list">
                                    <li class="work__line">
                                        <p>
                                            Developing open-source software
                                        </p>
                                    </li>
                                    <li class="work__line">
                                        <p>
                                            Main programming language is PHP
                                        </p>
                                    </li>
                                    <li class="work__line">
                                        <p>
                                            Using HTML, CSS, Javascript to develop UI
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="work__item">
                        <div class="work__time">
                            <i>
                                January 2019 - August 2019
                            </i>
                        </div>
                        <div class="work__card">
                            <div class="work__img">
                                <img src="../images/fsoft.png" alt="">
                            </div>
                            <div class="work__job">
                                <h3 class="work__subtitle">
                                    Part-time web developer
                                </h3>
                                <ul class="work__list">
                                    <li class="work__line">
                                        <p>
                                            Front-end developer
                                        </p>
                                    </li>
                                    <li class="work__line">
                                        <p>
                                            Using framework Vue, Vuetify
                                        </p>
                                    </li>
                                </ul>
                            </div>       
                            <div class="work__job">
                                <h3 class="work__subtitle">
                                    Achievements and skills gained :
                                </h3>
                                <ul class="work__list">
                                    <li class="work__line">
                                        <p>
                                            Be assessed positively by the shop’s boss : active, extremely adaptable...
                                        </p>
                                    </li>
                                    <li class="work__line">
                                        <p>
                                            Experience the Agile approach to developing professional software
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- SKILLS -->
        <section class="section skills" id="skills">
            <h1 class="section__title">
                SKILLS
            </h1>
            <div class="container skills__container">
                <div class="skills__box">
                    <div class="skills__data">
                        <h2 class="skills__subtitle">
                            Programming Language
                        </h2>
                        <ul>
                            <li class="skills__name">
                                Java
                            </li>
                            <li class="skills__name">
                                C++
                            </li>
                            <li class="skills__name">
                                C#
                            </li>
                            <li class="skills__name">
                                Javascript
                            </li>
                            <li class="skills__name">
                                PHP
                            </li>
                        </ul>
                    </div>
                    <div class="skills__data">
                        <h2 class="skills__subtitle">
                            Web Development
                        </h2>
                        <ul>
                            <li class="skills__name">
                                HTML5
                            </li>
                            <li class="skills__name">
                                CSS3
                            </li>
                            <li class="skills__name">
                                JavaScript
                            </li>
                            <li class="skills__name">
                                Java
                            </li>
                            <li class="skills__name">
                                PHP
                            </li>
                        </ul>
                    </div>
                    <div class="skills__data">
                        <h2 class="skills__subtitle">
                            JavaScript Frameworks
                        </h2>
                        <ul>
                            <li class="skills__name">
                                Vue
                            </li>
                            <li class="skills__name">
                                Vuetify
                            </li>
                            <li class="skills__name">
                                Bootstrap
                            </li>
                        </ul>
                    </div>
                    <div class="skills__data">
                        <h2 class="skills__subtitle">
                            PHP Frameworks
                        </h2>
                        <ul>
                            <li class="skills__name">
                                Laravel
                            </li>
                            <li class="skills__name">
                                Cakephp
                            </li>
                        </ul>
                    </div>
                    <div class="skills__data">
                        <h2 class="skills__subtitle">
                            Database
                        </h2>
                        <ul>
                            <li class="skills__name">   
                                Microsoft SQL Server
                            </li>
                            <li class="skills__name">
                                MySQL
                            </li>
                            <li class="skills__name">
                                MongoDB
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="skills__img">
                    <img src="../images//work3.jpg" alt="">
                </div>
            </div>
        </section>

        <!-- PROJECTS -->
        <section class="section projects" id="projects">
            <h1 class="section__title">
                PROJECTS
            </h1>

            <div class="container projects__container">
                <ul class="projects__timeline">
                    <li class="projects__item">
                        <div class="projects__time">
                            <i>January 2020 - February 2020</i>
                        </div>
                        <div class="projects__card">
                            <h2 class="projects__name">
                                Slownet
                            </h2>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    Description
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Online diary for the elderly in Japan to store daily activities, emotions, health information. From that data the app gives advice to the user
                                    </li>
                                </ul>
                            </div>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    My position
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Web Developer
                                    </li>
                                </ul>
                            </div>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    My responsibilities
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Maintain and develop new features
                                    </li>
                                    <li class="projects__line">
                                        Bug Fixing
                                    </li>
                                </ul>
                            </div>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    Technologies used
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Web framework : Laravel, jQuery, Bootstrap
                                    </li>
                                    <li class="projects__line">
                                        Database : MySQL
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="projects__item">
                        <div class="projects__time">
                            <i>January 2019 - August 2019</i>
                        </div>
                        <div class="projects__card">
                            <h2 class="projects__name">
                                akaTrans
                            </h2>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    Description
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        akaTrans is a computer-assisted translation tool which improves language professional’s productivity at every step of the translation process.                                    </li>
                                </ul>
                            </div>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    My position
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Frontend Developer
                                    </li>
                                </ul>
                            </div>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    My responsibilities
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Analysis and design
                                    </li>
                                    <li class="projects__line">
                                        Development
                                    </li>
                                    <li class="projects__line">
                                        Review code
                                    </li>
                                    <li class="projects__line">
                                        Optimize code
                                    </li>
                                    <li class="projects__line">
                                        Bug Fixing
                                    </li>
                                </ul>
                            </div>
                            <div class="projects__block">
                                <h3 class="projects__subtitle">
                                    Technologies used
                                </h3>
                                <ul class="projects__list">
                                    <li class="projects__line">
                                        Frontend framework : Vue, Vuetify
                                    </li>
                                    <li class="projects__line">
                                        Backend framework : Springboot
                                    </li>
                                    <li class="projects__line">
                                        Cloud storage : Amazon S3
                                    </li>
                                    <li class="projects__line">
                                        Database : MongoDB
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- CONTACT -->
        <section class="section contact" id="contact">
            <h1 class="section__title">
                CONTACT
            </h1>
            <div class="container contact__container">
                <form action="" class="contact__form">
                    <input name="name" type="text" placeholder="Name" class="contact__input" required>
                    <input name="email" type="email" placeholder="Email" class="contact__input" required>
                    <textarea name="message" id="" cols="1" rows="10" class="contact__input" required></textarea>
                    <input type="submit" value="Contact" class="button contact__button">
                </form>
            </div>
        </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer" id="footer">
        <h1 class="footer__title">Do Duc Duy</h1>
        <ul class="footer__social">
            <li>
                <a href="https://www.facebook.com/ducduy99hp" class="footer__icon">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/ducduy99hp" class="footer__icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
        <p>Thank you for visiting</p>
    </footer>
</body>

</html>