.contact {
    &__container {
        justify-content: center;
    }

    &__input {
        border: 1.5px solid $second-color;
        border-radius: $radius;
        font-weight: $font-semi;
        padding: $m-2;
        width: 100%;
        margin-bottom: $m-4;
        font-size: $normal-font-size;
        font-family: $body-font;
        resize: none;
    }

    &__button {
        font-family: $body-font;
        font-weight: $font-semi;
        text-align: right;
        border: none;
        float: right;
    }
}