.home {
    background-image: url('../images/prefil-small.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: $section-height;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: $big-font-size;
        color: $primary-color;
        margin-bottom: $m-2;
    }

    &__name {
        color: $second-color;
        font-size: 1.25 * $big-font-size;
        font-weight: bolder;
    }

    &__social {
        display: flex;
        & li {
            margin-right: $m-6;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__social-icon {
        font-size: $icon-font-size;
        color: $primary-color;
    }
}