@media only screen and (min-width: 992px) {
    .nav {
        &__list {
            display: flex;
            padding-top: 0;
            align-items: center;
        }
    }

    .home {
        background-image: url('../images/prefil-big.jpg');
    }

    .work {
        &__item {
            width: 47%;
            height: 100%;
        }
    }

    .skills {
        &__container {
            & > * {
                width: 50%;
            }
        }
    }

    .contact {
        &__form {
            width: 360px;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .projects {
        &__timeline {
            padding-left: 0;

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                width: $m-1;
                background-color: $second-color;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: $radius;
            }
        }

        &__item {
            width: 50%;

            &:nth-child(odd) {
                float: left;
                clear: right;
                transform: translateX(-30px);
                border-top-right-radius: 0;
            }

            &:nth-child(even) {
                float: right;
                clear: left;
                transform: translateX(+30px);
                border-top-left-radius: 0;
            }

            &::after {
                top: 0;
                left: auto;
            }

            &:nth-child(odd)::after {
                transform: translate(50%, -50%);
                right: -30px;
            }

            &:nth-child(even)::after {
                transform: translate(-50%, -50%);
                left: -30px;
            }

            &:nth-child(odd) .projects__time {
                right: -240px;
            }

            &:nth-child(even) .projects__time {
                left: -240px;
            }
        }

        &__time {
            position: absolute;
            top: -20px;
        }
    }
}