@media screen and (min-width: 768px) {
    .nav {
        &__list {
            display: flex;
            padding-top: 0;
            align-items: center;
        }
    }

    .home {
        background-image: url('../images/prefil-big.jpg');
    }

    .work {
        &__item {
            width: 47%;
            height: 100%;
        }
    }

    .skills {
        &__container {
            & > * {
                width: 50%;
            }
        }
    }

    .contact {
        &__form {
            width: 360px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 576px) {
    .projects {
        &__timeline::before {
            content: '';
            position: absolute;
            height: 100%;
            width: $m-1;
            background-color: $second-color;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: $radius;
        }

        &__item {
            width: 50%;
            margin-bottom: $m-6;
            position: relative;
            border-radius: $radius;

            &:nth-child(odd) {
                float: left;
                clear: right;
                transform: translateX(-30px);
                border-top-right-radius: 0;
            }

            &:nth-child(even) {
                float: right;
                clear: left;
                transform: translateX(+30px);
                border-top-left-radius: 0;
            }

            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: $white-color;
                border-radius: 50%;
                top: 0;
                border: 4px solid $second-color;
            }

            &:hover::after {
                background-color: $primary-color;
            }

            &:nth-child(odd)::after {
                transform: translate(50%, -50%);
                right: -30px;
            }

            &:nth-child(even)::after {
                transform: translate(-50%, -50%);
                left: -30px;
            }

            &:nth-child(odd) .projects__time {
                right: -240px;
            }

            &:nth-child(even) .projects__time {
                left: -240px;
            }
        }

        &__time {
            position: absolute;
            top: -20px;
            border: 4px solid $second-color;
        }
    }
}