.skills {
    &__container {
        text-align: left;
        padding-left: $m-3;
        padding-right: $m-3;
    }

    &__subtitle {
        color: $primary-color;
        margin-bottom: $m-3;
    }

    &__name {
        display: inline-block;
        font-size: $small-font-size;
        margin-right: $m-2;
        margin-bottom: $m-3;
        padding: $m-1 $m-2;
        background-color: $white-color;
        border-radius: $radius;
    }

    &__name:hover {
        background-color: $primary-color;
        color: $white-color;
    }

    &__img {
        margin: 0 auto;
        & img {
            border-radius: $radius;
        }
    }
}