.social {
    &__container {
        grid-template-columns: max-content;
        gap: 1rem;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        font-size: $small-font-size;
        color: $text-color;

        &:hover {
            color: $title-color;
        }
    }

    &__icon {
        font-size: 1.2rem;
        margin-right: 0.25rem;
    }

    
}