.container {
    max-width: 1024px;
    padding: 0 $m-2;
    margin: 0 auto;
    margin-bottom: $header-height;
    display: flex;
}

.section {
    padding-top: $m-4;
    padding-bottom: $m-4;
    min-height: $section-height;
    text-align: center;

    &__title {
        margin-top: $m-2;
        margin-bottom: $m-4;
        font-size: $h2-font-size;
        color: $primary-color;
        position: relative;

        &::after {
            background-color: $primary-color;
            content: "";
            display: block;
            position: absolute;
            top: $m-6;
            width: 4rem;
            height: $underline-height;
            margin: auto;
            left: calc(50% - 2rem);
        }
    }
}
