.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    opacity: 1;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    font-weight: $font-semi;

    &__logo {
        color: $primary-color;
        font-size: $h2-font-size;
    }

    &__item {
        margin-bottom: $m-4;
        height: 1.45rem;
    }

    &__link {
        position: relative;
        color: $second-color;
        font-size: $h2-font-size;

        &::after {
            background-color: $second-color;
            content: "";
            display: block;
            position: absolute;
            top: $m-4;
            left: 0;
            width: 0;
            transition: 0.5s;
        }
    }

    &__toggle {
        font-size: $icon-font-size;
        cursor: pointer;
        color: $second-color;
    }

    .show {
        right: 0;
    }

    .active::after {
        background-color: $second-color;
        content: "";
        display: block;
        position: absolute;
        top: $m-4;
        left: 0;
        width: 100%;
        height: $underline-height;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        &__menu {
            position: fixed;
            top: $header-height;
            right: -100%;
            width: 80%;
            height: 100%;
            background-color: $blur-color;
            padding: $m-4;
            transition: 0.5s;
        }
    }
}
