/*========== Classes modified to reduce size and print on A4 sheet ==========*/
.scale-cv {
  & .change-theme,
  & .generate-pdf,
  & .home__button-movil {
    display: none;
  }

  & .bd-container {
    max-width: 595px;
  }

  & .section {
    padding: 1.3rem 0 0.8rem;
  }

  & .section-title {
    margin-bottom: 0.75rem;
  }

  & .resume__left,
  & .resume__right {
    padding: 0 1rem;
  }

  & .home__img {
    width: 90px;
    height: 90px;
  }

  & .home__container {
    gap: 1.5rem;
  }

  & .home__data {
    gap: 0.25rem;
  }

  & .home__address,
  & .social__container {
    gap: 0.75rem;
  }

  & .home__icon,
  & .social__icon,
  & .interests__icon {
    font-size: 1rem;
  }

  & .timeline__container,
  & .certificate__container {
    gap: 1rem;
  }

  & .timeline__time {
    padding-right: 0.5rem;
  }

  & .timeline__rounder {
    width: 11px;
    height: 11px;
    margin-top: 0.22rem;
  }

  & .timeline__line {
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
  }

  & .timeline__data {
    gap: 0.25rem;
  }

  & .itemslist__name {
    margin-bottom: var(--mb-1);
  }

  & .interests__container {
    column-gap: 2.5rem;
  }
}
